In [1]:
import pandas as pd

In [4]:
url = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
babynames = pd.read_csv(url)
babynames.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

# Export to CSV

In [14]:
babynames.to_csv("test_export.csv", index=False)

In [15]:
babynames.to_csv("test_export.csv", index=False, columns=["Year of Birth", "Child's First Name", "Count"])

# Read in Excel File

In [20]:
logins = pd.read_excel("Logins Raw Data.xlsx")
logins.head()

       month  subscribers_logins  subscribers  login_rate
0 2020-01-01               14728        82407    0.178723
1 2020-02-01               14184        82062    0.172845
2 2020-03-01               14048        81291    0.172811
3 2020-04-01               13047        80555    0.161964
4 2020-05-01               12955        79762    0.162421

In [23]:
multisheet = pd.read_excel("Migrations_Aug2023.xlsx", sheet_name="Migrated Reports")
multisheet.head()

,Email Subject,EGP,Source tables,EGP migrated to SQL,PBI published,Sproc scheduled,Sproc created,What is PBI report referencing
0,ALERT:Exception Report - Credit Card & eCheck,Production\Financial\Exception Report_v1.egp,EDWStaging.RECONCILIATION.reconcile_edw\nedwv2...,Done,Done,Done,ODS.[reports].[refresh_AlertExceptionReport],Native query referencing -\nODS.reports.Except...
1,Customer Email BounceBack Report,Production\Monitoring\EmailBounce_Monthly.egp,ods.event.operational_sales\nBI_CAMPAIGN_PROD....,Done,Done,Not needed,None,Querying database from PowerBI (no table created)
2,Daily PHX-to-WD Export Recon Report,Production\Monitoring\Daily PHX to WD Export R...,IntraDay.EComm.financial_transaction\nIntraDay...,Done,Done,Done,ods.[reports].[refresh_Daily_PHX_WD_Recon],ods.reports.PHX_TO_WD_INVOICES;\nods.reports.P...
3,DNC Disposition Report,Production\Monitoring\EmailBounce_Monthly.egp,ods.event.five9_call,Done,Done,Not needed,None,Querying database from PowerBI (no table created)
4,DUNS Manager Summary,Production\Sales\DUNSManager_Report.egp,Intraday.DUNSManager.transaction+\nIntraday.Ap...,Done,Done,Done,ODS.[reports].[refresh_FreePaid_DUNS],ods.reports.Free_DUNS\nods.reports.Paid_DUNS\n...

In [25]:
multi = pd.read_excel("Migrations_Aug2023.xlsx", sheet_name=[0,1])

In [27]:
multi[0].head()

,Details,# Users that Need Report,Frequency,Status,egp
0,Cancels Campaign Report,1,Monthly - Day 28,Hira having issues,Production\Sales\Cancels Report.egp
1,CreditMonitor Sales Report,4,Daily x1,Hira having issues,Production\Sales\CreditMonitor_Post_Launch_Sal...
2,Subscription Billing Report,4,Daily x1,Need underlying tables,Production\Financial\Subscription Billing.egp
3,Web Orders Campaign Report,3,Daily x1,Hira having issues,Production\Customers\Web Orders Campaign - One...
4,Intra-Day D&B Small Business Telesales Report,12,"Daily, every 30 mins between 10am and 10.30 pm...",Need underlying tables,Production\Sales\Office1.egp

# Export to Excel

In [31]:
females = babynames[babynames["Gender"] == "FEMALE"]
males = babynames[babynames["Gender"] == "MALE"]

In [32]:
with pd.ExcelWriter("NYC Baby Data.xlsx") as excel_file:
    females.to_excel(excel_file, sheet_name="Females", index=False)
    males.to_excel(excel_file, sheet_name="Males", index=False, columns=["Year of Birth", "Child's First Name", "Rank"])